<?xml version="1.0" encoding="utf-8"?>
<manifest 
	package="com.chozabu.android.BikeGame"
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="46"
	android:versionName="2.3.0"
	> <!-- android:installLocation="auto"  -->
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" android:resizeable="true" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false">

		<activity android:name=".DownloadList" android:label="@string/app_name">
		</activity>
		<activity android:name=".LoadList" android:label="@string/app_name" 
		android:screenOrientation="landscape">
		</activity>
		<activity android:name=".GameOptions" android:label="@string/app_name" 
		android:screenOrientation="landscape">
		</activity>
		<activity android:name=".AEMainMenu" android:label="@string/app_name">
		</activity>
		<activity android:name=".BikeSplashScreen" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".GameRoot" android:label="@string/app_name">
		</activity>
		<activity android:name=".Credits" android:label="@string/app_name">
		</activity>
		<activity android:name=".Help" android:label="@string/app_name">
		</activity>
		
		<!--
		<activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
		</activity>

		<activity android:name="com.millennialmedia.android.VideoPlayer"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="keyboardHidden|orientation|keyboard">
		</activity>
		<meta-data android:value="8036f966d35e4e36a2fbfbb7a0374091"
			android:name="ADWHIRL_KEY" />


		<meta-data android:value="a14d0d8307d184a" android:name="ADMOB_PUBLISHER_ID" />
		
			<activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
			<receiver
			android:name="com.admob.android.ads.analytics.InstallReceiver"
			android:exported="true"> <intent-filter> <action
			android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter> </receiver>
		 -->
		 
		     <activity android:name="com.openfeint.internal.ui.IntroFlow"
              android:label="IntroFlow"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar"/>
    <activity android:name="com.openfeint.api.ui.Dashboard"
              android:label="Dashboard"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar"/>
    <activity android:name="com.openfeint.internal.ui.Settings"
              android:label="Settings"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar"/>

	</application>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8" />
	  <!--<uses-configuration android:reqNavigation="nonav" />
	   <uses-feature android:name="android.hardware.touchScreen" android:required="false" />
  		-->

</manifest> 